

/*

font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Dancing Script', cursive;
light tan: #eeebda

*/

body{
    font-family: 'Noto Serif', serif;
    line-height: 1.8;
    margin: 0;
    background-color: #eeebda;
}

h1, h2, h3{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 0;
}

img{
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    clear: both;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
    /*
        TODO:
        - Center up the page (DONE)
        - Create a flexbox containerer for
        the major page sections
    */
}



#site-header{
}


#site-header div{ /*"i beer - stay thirsty part"*/
    text-align: center;
    padding: 60px 0 120px 0;
    font-size: 4em;
    background-image: url(./img/header-img.jpg);
    background-size: cover;
    background-position: right bottom;
}

#site-header div h1, #site-header div h3{
    margin: 0;
    line-height: 1;
    position: relative;
}
#site-header div h1{
    top: 20px;
}

#site-header div h3{
    color: white;
    bottom: 20px;
    text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3 );
    font-family: 'Dancing Script', cursive;
}

#main-navigation{
    background: #444;
		/*border: 4px solid blue;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#main-navigation a{
    display: flex;
    color: white;
    /*background-color: red;
    border: 1px solid green;*/
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
		/*border: 2px solid red;*/
    align-self: flex-end;

    /*
        TODO:
        - Flexbox - Create general spacing between nav links
    */
}
#main-navigation #logo{
  flex-basis: auto;
  flex-grow: 1; /* make it the only header element that grows. the text inside is left-aligned so this takes care of it*/
}

main{
    padding: 20px;
    background-color: #444;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
		border: 5px solid red;
    /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
}

aside{
    padding: 20px;
    background-color: #eee;
    box-shadow: 5px 5px 8px rgba( 0, 0, 0, 0.3 );
    /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
}
aside h3{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
aside img{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 2px solid white;
}

article{
    background-color: white;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    padding: 20px;
    margin-bottom: 20px;

}


article h2{ /* article title */
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
article time{
    font-size: 0.8em;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    color: #666;
}

article img{
		border: 2px solid red;

}

article p{
	border: 2px solid red;
}

article footer p{
	clear: both;
	line-height: 1em;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0px 0;
	padding: 10px 0 0px 0;
	border-top: 1px solid #ccc;
	text-transform: uppercase;
}

#site-footer{

    background: #333;
    /*
        TODO:
        - Style the site footer
    */
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
